html {
  min-height: 100%;
}

body {
  background-color: rgba(128, 128, 128, 0.288);
}

.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  transform: translate3d(0, 0, 0);
}

.about {
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
}

.parag {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  width: 70px;
}

.dg {
  border-width: 3px;
  width: 15%;
  margin-left: 43%;
}

.h6 {
  font-size: 20px;
  color: #d9a701;
}

.btn {
  text-align: center;
  background-color: #d9a701;
  font-size: 20px;
  color: white;
  margin-left: 40%;
  margin-top: 70px;
}

#demo  {
  text-align: center;
}

.sm {
  background: linear-gradient(#0000006b, #00000075), url(img/person.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 120%;
  color: #ffffff;
}

.img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
  border: 2px solid rgb(214, 191, 191);
  padding: 10px;
  border-radius: 30px;
}

.t-2 {
  text-align: center;
  color: #d9a701;
  font-size: 30px;
}

.t-3 {
  color: #d9a701;
  font-size: 15px;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.video {
  width: 120% !important;
  margin-left: -30px;
}

.bg {
  width: 20%;
}

.text-left {
  width: 400px;
  margin-left: -80px;
}

.drugs-section {
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.445)),
    url(img/pills3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.px {
  text-align: center;
}

.text-space {
  width: 100%;
  word-spacing: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)),
    url(img/pill.jpg);
  margin: 60px;
  color: #ffffff;
  margin-left: 2px;
}



.team {
  font-size: 25px;
}

.team-2 {
  word-spacing: 10px;
  font-size: 40px;
}

/* Type Script */
#str {
  width: 770px;
  text-align: center;
  height: auto;
  font-family: sans-serif;
  font-size: 20px;
  margin:80px auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
}


.contact {
  background-position: 50% 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.836)),
  url(img/building3.jpeg);
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 70px;;
}

.ml {
  font-size: 30px;
}

.mb-5 {
  color: rgb(25, 121, 211);
  padding-top: 50px;
}

.form-control {
  padding-top: 50px;
}